// #8aadb2
.page {
    background-color: #8aadb2;
    /* your color */
    margin: 0;
}


.icon-box {
    width: 90px;
    height: 90px;
    border: 2px dashed #383838;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: #000000;
}

.insidediv p {
    font-size: 17px;
}

.insidediv div {
    margin-bottom: 2rem;
}
.row{
    --bs-gutter-x: -0.5rem !important;
}


// .timeline {
//   position: relative;
// }

.timeline-line {
    //   position: absolute;
    //   top: 50%;
    //   left: 0;
    width: 100%;
    border-top: 2px dashed #333;
    transform: translateY(-50%);
    z-index: 0;
}

p {
    font-size: 20px;
}
 