<app-navbar></app-navbar>
<div class="image-container">
    <img style="border-bottom-right-radius: 180px;" src="../../../assets/img/Screenshot (36).png" alt="">
    <div style="border-bottom-right-radius: 180px;" class="overlay"></div>
</div>

<section class="container py-lg-5">
    <div class="row">
        <div class="col-lg-7">
            <p style="font-size: 3.5rem; font-weight: 600;">On-Demand</p>
        </div>
        <div class="col-lg-4">
            <p>Fly on your terms. When you want, where you want.</p>
            <p>Flying On-Demand gives you the total control of your flight and an unbeatable level of service at
                competitive rates. No hidden fees, no upfront investment or jet card payments.</p>
        </div>
    </div>
</section>

<section class="container py-lg-4">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img style="height: 70vh;" src="../../../assets/img/Screenshot (37).png" alt="">
            <h2>Private Charter</h2>
            <p>Your aircraft is ready when you are.</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img style="height: 70vh;" src="../../../assets/img/Screenshot (38).png" alt="">
            <h2>Group Charter</h2>
            <p>Comming Soon</p>
        </div>
    </div>
</section>

<div class="container mb-5 mt-lg-5" style="border-top: 2px solid black; "></div>

<section class="container py-lg-5">
    <div class="row">
        <div class="col-lg-7">
            <p style="font-size: 3.5rem; font-weight: 600;">Aircraft Ownership</p>
        </div>
        <div class="col-lg-4">
            <p>Fly on your own aircraft.</p>
            <p>Elevate your aviation aspirations with Hyer Aviation's® expertise in shared aircraft ownership, offering
                personalized solutions that maximize efficiency and minimize costs for our discerning clients.</p>
        </div>
    </div> 
</section>

<section class="container py-lg-4">
    <div class="row">
       <div class="col-lg-4 col-md-6 col-sm-12">
            <img style="height: 70vh;" src="../../../assets/img/Screenshot (39).png" alt="">
            <h2>Range of aircraft</h2>
            <p>From turbo-props to heavy jets.</p>
        </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
            <img style="height: 70vh;" src="../../../assets/img/Screenshot (40).png" alt="">
            <h2>Fully owned or shared</h2>
            <p>Let us find you a pool of people to join in on shared ownership.</p>
        </div>
    </div>
</section>

<div class="container mb-5 mt-lg-5" style="border-top: 2px solid black; "></div>

<section class="container py-lg-5">
    <div class="row">
        <div class="col-lg-7">
            <p style="font-size: 3.5rem; font-weight: 600;">Memberships</p>
        </div>
        <div class="col-lg-4">
            <p>Our membership program is innovative, bold and offers even more personalisation and flexibility.</p>
            <p>You will start enjoying the benefits straight away. </p> 
        </div>
    </div> 
</section>

<section class="container py-lg-4">
    <div class="row">
       <div class="col-lg-4 col-md-6 col-sm-12">
            <img style="height: 70vh;" src="../../../assets/img/Screenshot (41).png" alt="">
            <h2>Elevate</h2>
            <p>Enhanced services, control and rewards</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 ">
            <img style="height: 70vh;" src="../../../assets/img/Screenshot (42).png" alt="">
            <h2>Hyer® Altitude</h2>
            <p>Coming soon</p>
        </div>
    </div>
</section>
<div class="container mb-5 mt-lg-5" style="border-top: 2px solid black; "></div>

<app-footer></app-footer>