<footer class="footer">
    <div class="mt-4 mb-4">
        <h1 class="container fw-bolder">Hyer</h1>
    </div>
    <div class="container">

        <div class="row top-section">

            <div class="col-md-3">
                <!-- Follow Us -->
                <div class="">
                    <h5>Follow us</h5>
                    <div class="social-icons mt-3">
                        <span><i class="bi bi-instagram"></i></span>
                        <span><i class="bi bi-facebook"></i></span>
                        <span><i class="bi bi-linkedin"></i></span>
                    </div>
                </div>
            </div>

            <div class="row col-9">
                <!-- On-demand -->
                <div class="col-md-4">
                    <h5>On-demand</h5>
                    <p>Private Charter</p>
                </div>

                <!-- Aircraft Ownership -->
                <div class="col-md-4">
                    <h5>Aircraft Ownership</h5>
                    <p>Ownership</p>
                </div>

                <!-- Memberships -->
                <div class="col-md-4">
                    <h5>Memberships</h5>
                    <p>Elevate</p>
                </div>

                <div class="col-md-4 mt-lg-5">
                    <h5>Company</h5>
                    <p>About us</p>
                    <p>Solutions</p>
                    <p>News</p>
                    <p>Contact</p>
                </div>
            </div>

        </div>

        <!-- <div class="row mt-5">
 
            <div class="col-md-9 d-flex justify-content-between align-items-start flex-wrap">
                <p>Cookie policy</p>
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
            </div>

        </div> -->

        <hr>

        <!-- Bottom Info -->
        <div class="row mt-4">
            <div class="col-md-3">
                <p class="mt-5 mb-5" style="font-size: larger;">© Hyer Aviation 2026</p>
                <small>
                    Hyer® HQ - Eindhoven, The Netherlands <br>
                    Registered on the Dutch Chamber of Commerce: 80195520
                </small>
            </div>

            <div class="col-md-9">
                <div>
                    <div class="col-md-9 d-flex justify-content-between align-items-start flex-wrap mt-5 mb-5">
                        <p style="font-size: larger;">Cookie policy</p>
                        <p style="font-size: larger;">Terms & Conditions</p>
                        <p style="font-size: larger;">Privacy Policy</p>
                    </div>
                </div>
                <small>
                    Hyer® is a charter broker with a global digital platform and is not a direct air carrier. All
                    flights advertised to which Hyer® has access are owned and operated by a properly licensed third
                    party air carrier, compliant with rules outlined by the European Union Aviation Safety Agency (or
                    other appropriate authority under foreign law). Hyer® does not carry additional liability insurance.
                    Passengers are covered by the aircraft operator insurance.
                </small>
            </div>
        </div>

    </div>
</footer>