.navbar-nav {
  align-items: center;
}
 
.navbar .nav-link {
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin-right: 10px;
}
 
.navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  transition: width 0.4s ease;
}
 
.navbar .nav-link:hover::after {
  width: 100%;
}
 
.navbar {
  background-color: transparent !important;
  position: absolute;   /* float over hero section */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
 
.navbar .nav-link,
.navbar .navbar-brand {
  color: white;
}
 